<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer PDF.js</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
    <script src="~/Themes/ckeditor.js"></script>
</head>


</html>
