@model IEnumerable<SISProject.Models.Notice>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">


                            <center>
                                <h1>New  Notices</h1></center>
                        </div>
                        <div class="panel-body">
                            <center>
                            @foreach (var item in Model)
                            {
                                <b>
                                    <a href="@Url.Action("Download", "ClientNotes",new { Path = item.path })">
                                        @item.ShortDescription
                                    </a>
                                </b><br />
                            }
                            </center>
                            </div>
</div>
</div>
